* {
    box-sizing: border-box;
}

:root {
    --bg: hsl(256, 26%, 20%);
    --secondary-bg: hsl(216, 30%, 68%);
    --font-color: hsl(270, 9%, 17%);
    --line: hsl(273, 4%, 51%);
    --footer-bg: hsl(0, 0%, 98%);
    --hd-font: 'DM Serif Display', serif;
    --body-font: 'Karla', sans-serif;
}

body,
.root-div {
    line-height: 1.6;
    padding: 0;
    margin: 0;
    width: 100vw;
    font-size: 16px;
    font-family: var(--body-font);
}

h1 {
    font-family: var(--hd-font);
    font-weight: 400;
    font-size: 4.5rem;
    position: relative;
    line-height: 1;
}

h3 {
    font-family: var(--hd-font);
}

header {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 80%;
}

/* Header */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 1rem 0;
}

.logo,
.nav-items,
.plan-btn {
    display: inline-block;
    color: var(--font-color);
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    color: var(--font-color);
}

.plan-btn {
    border: solid 1px var(--font-color);
    padding: 0.4em 2em;
    display: inline-block;
    text-decoration: none;
}

.hamburger {
    display: none;
}

/* Intro */
.intro {
    background-color: var(--bg);
    position: relative;
    color: var(--footer-bg);
}

.intro .container {
    position: relative;
    top: 8em;
    bottom: 4em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.intro .container::before {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    width: 15%;
    border-top: 2px solid var(--line);
}

.intro-items {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    border: 2px solid transparent;
}

.intro-header {
    color: var(--footer-bg);
    margin-bottom: 0;
}

.intro .plan-btn {
    border: 1px solid var(--footer-bg);
    margin-bottom: 0;
    color: var(--footer-bg)
}

.svg-right,
.svg-left {
    position: absolute;
}

.svg-right {
    top: 0;
    right: 0;
    z-index: 1000;
}

.svg-left {
    bottom: -50%;
}

/* Work */
.work {
    margin: 20em 0 10em 0;
}

.work .container {
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.work .container::before {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    width: 15%;
    border-top: 2px solid var(--line);
}

.work-items {
    display: flex;
    gap: 2em;
    margin-bottom: 5rem;
}

.work-about {
    background-color: var(--bg);
    padding: 1em 5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.work-about h2 {
    line-height: 1;
    max-width: 53%;
    font-weight: 400;
    font-size: 3.5rem;
    font-family: var(--hd-font);
    height: max-content;
    color: var(--footer-bg)
}

.work-about .plan-btn {
    color: var(--footer-bg);
    border: 1px solid var(--footer-bg);
    z-index: 1000;
    text-transform: uppercase;
}

.svg-work-about {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

/* Footer */
footer {
    background-color: var(--footer-bg);
    padding: 1rem 0;
    position: relative;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: var(--line) solid 1px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    z-index: 1000;
}

.footer ul, 
small {
    list-style: none;
    text-transform: uppercase;
}

small {
    padding-bottom: 1.5rem;
}

.footer ul {
    font-size: 0.9rem;
    font-weight: bolder;
    padding-left: 0;
}

.footer ul li {
    margin-bottom: .3rem
}

.svg-footer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}



@media  screen and (max-width: 500px) {
body,
.root-div {
    text-align: center;
    width: 100vw;
    overflow-x: hidden;
}

h1 {
    font-size: 2.7rem
}

header {
    margin: 0;
    position: relative;
}

.container {
    margin: 0 auto;
    width: 85%;
}

/* Header */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 1rem 0;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}

.nav-items {
    justify-content: flex-start;
    gap: 1.5em;
    background-color: rgba(255, 255, 255, 0.422);
    list-style: none;
    position: absolute;
    margin: 0;
    top: 100%;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    text-align: left;
    padding-left: 1em;
    right: -50%;
}

.slide-in {
    transform: translateX(-50vw);
    z-index: 100;
    transition: all 1.5s ease;
}

.slide-out {
    transform: translateX
}

.nav-items a {
    color: var(--font-color);
    overflow-x: hidden;
}

.plan-btn {
    border: solid 1px var(--font-color);
    padding: .3em 1em;
    display: inline-block;
    text-decoration: none;
}

nav .plan-btn {
    display: none;
}

.hamburger {
    display: inline-block;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    gap: em;
    width: 100%;
}

/* Intro */
.intro {
    width: 100%;
}

.intro .container {
    flex-direction: column;
    gap: 1em;
    top: 0;
    width: 100%;
}

.intro .container::before {
    width: 0%;
}


.intro-items {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    border: 2px solid transparent;
    width: 80%;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 4.5em 2em;
}

.intro-header {
    color: var(--footer-bg);
    margin-bottom: 0;
}

.intro .plan-btn {
    border: 1px solid var(--footer-bg);
    margin-bottom: 0;
    color: var(--footer-bg);
    align-self: center;
}

.intro-img {
    order: -1;
}

.svg-right-mobile
.svg-left-mobile {
    position: absolute;
}

.svg-right-mobile {
    bottom: -11em;
    right: 0;
    position: absolute;
}

.svg-left-mobile {
    position: absolute;
    top: -1em;
    left: 0;
}

/* Work */
.work {
    margin: 14em 0 3em 0;
}

.work .container {
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 5rem;
   padding-top: 3rem;
}

.work .container::before {
    position: absolute;
    top: 0;
    left: 30%;
    content: " ";
    width: 40%;
    border-top: 2px solid var(--line);
}

.work-items {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-bottom: 5rem;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.work-about {
    background-color: var(--bg);
    padding: 4em 2em;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    position: relative;
    margin-bottom: 10rem;
}

.work-about h2 {
    font-size: 2rem;
    line-height: 1;
    font-weight: 400; 
    font-family: var(--hd-font);
    color: var(--footer-bg)
}

.work-about .plan-btn {
    color: var(--footer-bg);
    border: 1px solid var(--footer-bg);
    z-index: 1000;
    text-transform: uppercase;
}

.svg-work-about {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.svg-work-about-mobile {
    position: absolute;
    top: 0;
    right: 0;
}

/* Footer */
footer {
    background-color: var(--footer-bg);
    padding: 3rem 0;
    position: relative;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;
    padding: 1.8rem 0;
    border-bottom: var(--line) solid 1px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem 0;
}

.footer ul, 
small {
    list-style: none;
    text-transform: uppercase;
}



.small {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer ul {
    font-size: 0.9rem;
    font-weight: bolder;
    padding-left: 0;
}


.footer ul li {
    margin-bottom: .3rem
}

.svg-footer-mobile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}



}